.shop-product-list {
  font-size: 12px;
  .type_id {
    width: 50px !important;
  }
  thead {
    tr {
      th {
        font-family: monospace, monospace;
        font-weight: 600;
      }
    }
  }
  td {
    vertical-align: middle !important;
  }
}

.shop-product-crud {
  .md-tab {
    span {
      text-transform: none !important;
    }
  }
}
