/* line 1, ../sass/main.scss */
.shop-product-list {
  font-size: 12px;
}
/* line 3, ../sass/main.scss */
.shop-product-list .type_id {
  width: 50px !important;
}
/* line 8, ../sass/main.scss */
.shop-product-list thead tr th {
  font-family: monospace, monospace;
  font-weight: 600;
}
/* line 14, ../sass/main.scss */
.shop-product-list td {
  vertical-align: middle !important;
}
