<div class="row shop-product-crud">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button aria-label="Go Back" ng-click="goBack()">
                Quay lại
            </md-button>
            <h2>
                <span></span>
            </h2>
            <span flex></span>
            <md-button class="md-fab md-mini" aria-label="Lưu">
                Lưu
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Xóa">
                Xóa
            </md-button>
        </div>
    </md-toolbar>
    <div ng-cloak>
        <md-content class="md-padding">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Chung">
                    <md-content class="md-padding" style="overflow: hidden">
                        <div>
                            <form name="userForm">
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Tên Sản Phẩm</label>
                                        <input ng-model="product.name">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Mã Sản Phẩm</label>
                                        <input ng-model="product.sku">
                                    </md-input-container>
                                </div>

                                <md-input-container class="md-block">
                                    <label>Mô Tả</label>
                                    <textarea ng-model="product.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Mô Tả Ngắn</label>
                                    <textarea ng-model="product.short_description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                </md-input-container>

                                <div layout-gt-sm="row" class="date-new-from-to">
                                    <label>Đặt là sản phẩm mới từ ngày</label>
                                    <md-datepicker style="margin-top: -10px;" ng-model="product.special_from_date" md-placeholder="Chọn ngày"
                                                   flex-gt-sm>
                                    </md-datepicker>
                                    <label>Đặt là sản phẩm mới đến ngày</label>
                                    <md-datepicker style="margin-top: -10px;" ng-model="product.special_to_date" md-placeholder="Chọn ngày"
                                                   flex-gt-sm>
                                    </md-datepicker>
                                </div>

                                <div layout-gt-sm="">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>URL đến sản phẩm</label>
                                        <input ng-model="product.url_key">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Nước sản xuất</label>
                                        <md-select ng-model="product.country_of_manufacture">
                                            <md-option ng-repeat="country in countries" value="{{country.value}}">
                                                {{country['label']}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Trạng thái</label>
                                        <md-select ng-model="product.status">
                                            <md-option value="1">
                                                Bật
                                            </md-option>
                                            <md-option value="0">
                                                Tắt
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Hiển thị</label>
                                        <md-select ng-model="product.visibility">
                                            <md-option value="1">
                                                Ẩn
                                            </md-option>
                                            <md-option value="2">
                                                Danh mục
                                            </md-option>
                                            <md-option value="3">
                                                Tìm kiếm
                                            </md-option>
                                            <md-option value="4">
                                                Tất cả
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Postal Code</label>
                                        <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                                               required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                                        <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                                code.
                                            </div>
                                            <div ng-message="md-maxlength" class="my-message">
                                                Don't use the long version silly...we don't need to be that specific...
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Giá">
                    <md-content class="md-padding" style="overflow: hidden">
                        <div>
                            <form name="userForm">
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Giá</label>
                                        <input ng-model="product.price">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Giá Khuyến mãi</label>
                                        <input ng-model="product.special_price">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Kiểu thuế</label>
                                        <md-select ng-model="product.tax_class_id">
                                            <md-option ng-repeat="taxClass in TaxClass.getProductTaxClass()" value="{{taxClass.class_id}}">
                                                {{taxClass.class_name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-xs="row">
                                    <label>Giá khuyễn mãi từ ngày</label>
                                    <md-datepicker style="margin-top: -10px;" ng-model="product.special_from_date" md-placeholder="Chọn ngày"
                                                   flex-gt-sm>
                                    </md-datepicker>
                                    <label>Giá khuyến mãi đến ngày</label>
                                    <md-datepicker style="margin-top: -10px;" ng-model="product.special_to_date" md-placeholder="Chọn ngày"
                                                   flex-gt-sm>
                                    </md-datepicker>
                                </div>

                                <!--<div layout-gt-sm="row">-->
                                <!--<md-input-container class="md-block" flex-gt-sm>-->
                                <!--<label>Hiện thị giá thực tế</label>-->
                                <!--<md-select ng-model="user.state">-->
                                <!--<md-option value="1">-->
                                <!--Bật-->
                                <!--</md-option>-->
                                <!--<md-option value="0">-->
                                <!--Tắt-->
                                <!--</md-option>-->
                                <!--</md-select>-->
                                <!--</md-input-container>-->
                                <!--<md-input-container class="md-block" flex-gt-sm>-->
                                <!--<label>Giá từ nhà sản xuất</label>-->
                                <!--<input ng-model="theMax">-->
                                <!--</md-input-container>-->
                                <!--</div>-->
                            </form>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Ảnh">
                    <md-content class="md-padding" flow-init="config.flowConfig"
                                flow-files-submitted="$flow.upload()"
                                flow-file-success="$file.msg = $message"
                                flow-prevent-drop
                                flow-drag-enter="style={border: '5px solid green'}">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 drop-image">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <md-button class="md-raised" flow-btn>Upload Ảnh</md-button>
                                    <md-button class="md-raised" flow-btn flow-directory ng-show="$flow.supportDirectory">Upload Thư Mục</md-button>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <div class="alert" flow-drop flow-drag-enter="class='alert-success'" flow-drag-leave="class=''" ng-class="class">
                                        Hoặc kéo thả ảnh vào đây
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-repeat="file in $flow.files" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 image-box">
                                <span class="title">{{file.name}}</span>
                                <div class="thumbnail">
                                    <img flow-img="file">
                                </div>
                                <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                    <div class="progress bg-light dker" ng-class="{active: $flow.isUploading()}">
                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                             ng-style="{ 'width': file.progress() * 100 + '%' }"></div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                        Remove
                                    </a>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Tồn Kho">
                    <md-content class="md-padding" style="overflow: hidden">
                        <div>
                            <form name="userForm">
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Số Lượng</label>
                                        <input ng-model="product.stock_items.qty">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Đặt trạng thái hàng</label>
                                        <md-select ng-model="product.stock_items.is_in_stock">
                                            <md-option value="1">
                                                Còn hàng
                                            </md-option>
                                            <md-option value="0">
                                                Hết hàng
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Khi hết hàng</label>
                                        <md-select ng-model="product.stock_items.backorders">
                                            <md-option value="1">
                                                Cho Phép Mua
                                            </md-option>
                                            <md-option value="0">
                                                Không Cho Phép
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>SL tối thiểu khi mua</label>
                                        <input ng-model="product.stock_items.min_sale_qty">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>SL tối đa khi mua</label>
                                        <input ng-model="product.stock_items.max_sale_qty">
                                    </md-input-container>
                                </div>

                            </form>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Danh Mục">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <category-tree categories="Category.getCategoryNodes()" can-edit="false"></category-tree>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Tùy chọn" ng-if="false">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget
                            congue
                            risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci
                            commodo
                            volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
<br>
<br>
