<div lazy-load="ui.crud.editor">
    <div class="panel panel-default">
        <div class="panel-heading">
            <iz-filter-container crud-id="{{dataTable.crudId}}" iz-data-column-index='index = dataTable.filterConfig'
                                 iz-support-new-record='{{configDataTable.isSupportNewRecord}}'>
        </div>
        <div class="table-responsive">
            <table style="width: 99%" ui-crud-editor="dataTable" crud-id="{{dataTable.crudId}}"
                   ui-options="dataTable.tableOptions"
                   ui-editor-options="dataTable.editorOptions"
                   ui-editor-disable="{{configDataTable.disableEditor}}"
                   class="table table-striped b-t b-b">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Tên</th>
                    <th>Mã</th>
                    <th>Giá</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
